<section {{ if .Get "id" }}id="{{ .Get "id" }}"{{ end }} class="hero" hero-theme="{{ .Get "theme" }}">
  
  {{ if and ( .Get "imgDesktop" ) ( .Get "imgMobile" ) }}
  
    <picture class="hero__asset">
      
      <source 
        srcset="{{ .Get "imgDesktop" }}"
        media="(min-width: 768px)"
        height="{{ .Get "imgDesktopHeight" | default "1080px" }}"
        width="{{ .Get "imgDesktopWidth" | default "1920px" }}"
      >
      
      <img 
        src="{{ .Get "imgMobile" }}" 
        class="hero__img"
        height="{{ .Get "imgMobileHeight" | default "853px" }}"
        width="{{ .Get "imgMobileWidth" | default "480px" }}"
        alt="" 
        aria-hidden="true"
      />
      
    </picture>
    
  {{ end }}
  
  <div 
    class="hero__grid" 
    hero-layout="{{ .Get "layout" | default "bottom-center" }}" 
    wrapper="{{ .Get "wrapper" | default "structure" }}"
  >
  
    <div class="hero__content">
      
      {{if .Get "heading" }}
      
        <h2 class="hero__heading">
          
          <span class="hero__heading--1">
            {{ .Get "heading" }}
          </span>
          
          {{ if .Get "subheading" }}
            <span class="hero__heading--2">
              {{ .Get "subheading" }}
            </span>
          {{ end }}
          
        </h2>
      
      {{ end }}
      
    </div>
    
  </div>
  
</section>