<ul 
  class="grid" 
  grid-gap="{{ .Get "gap" | default "medium" }}"
  grid-desktop="{{ .Get "desktop" | default 3 }}"
  grid-tablet="{{ .Get "tablet" | default 3 }}"
  grid-mobile="{{ .Get "mobile" | default 1 }}"
>

  {{- $pages := .Site.RegularPages.ByDate -}}

  {{- if .Get "home" -}}
  
    {{- range where $pages "Type" "work" | first 4 -}}
    
      <li>
        
        <div class="card" card-theme="large overlay">
          
          <div class="card__asset">
            <img src="{{ .Params.Cover }}" height="900px" width="1600px" alt="" />
          </div>
          
          <div class="card__content">
            
            <h3 class="card__subheading">
              {{ .Title }}
            </h3>
            
            <div class="card__cta">
              <a href="{{ .RelPermalink }}" class="card__cta" button="dark invert">
                View Case Study 
                <span class="srt">
                  for {{ .Title }}
                </span>
              </a>
            </div>
            
          </div>
          
        </div>
        
      </li>
      
    {{- end -}}
  
  {{- else -}}
  
    {{- range where $pages "Type" "work" -}}
    
      <li>
        
        <div class="card" card-theme="overlay">
          
          <div class="card__asset">
            <img src="{{ .Params.Cover }}" height="450px" width="800px" alt="" />
          </div>
          
          <div class="card__content">

            <h3 class="card__subheading">
              {{ .Title }}
            </h3>
            
            <div class="card__cta">
              <a href="{{ .RelPermalink }}" class="card__cta">
                View Case Study 
                <span class="srt">
                  for {{ .Title }}
                </span>
              </a>
            </div>
            
          </div>
          
        </div>
        
      </li>

    {{- end -}}
  
  {{- end -}}
  
</ul>