<header id="header" class="header" role="banner">
  
  <div wrapper="structure">
    
    <nav aria-label="Primary navigation" role="navigation">
      
      <ul class="primary-nav">
        
        <li class="primary-nav__item">
          <a href="/" class="primary-nav__link">
            <img 
              src="/images/jeanette-raven-logo.webp" 
              class="primary__nav-logo" 
              height="48px" 
              width="48px"
              aria-hidden="true" 
              alt="" 
            />
            <h1 class="primary-nav__site">
              Jeanette Raven<span class="srt">'s {{ .Title }}</span>
            </h1>
          </a>
        </li>
        
        <li class="primary-nav__item">
          <a href="/work" class="primary-nav__link">Work</a>
        </li>
        
        <li class="primary-nav__item">
          <a 
            href="https://drive.google.com/file/d/1yNWCW5_wh_LMCn2LkiDCwMRqn6ddXdsr/view?ts=636bcee4" 
            class="primary-nav__link" 
            target="_blank" 
            rel="noopener"
          >
            Resume
          </a>
        </li>
        
        <li class="primary-nav__item">
          <a href="/about" class="primary-nav__link">About</a>
        </li>
        
      </ul>
      
    </nav>
  
  </div>
  
</header> 