{{ define "main" }}

  {{ if and 
    ( index .Params "hero-desktop" ) 
    ( index .Params "hero-mobile" )
  }}
    <section class="hero" hero-theme="work">

      <picture class="hero__asset">
        
        <source 
          srcset="{{ index .Params "hero-desktop" }}"
          media="(min-width: 768px)"
          height="1080px"
          width="1920px"
        >
        
        <img 
          src="{{ index .Params "hero-mobile" }}" 
          class="hero__img"
          height="853px"
          width="480px"
          alt="" 
          aria-hidden="true"
        />
        
      </picture>
      
    </section>
  {{ end }}

  {{ if and 
    ( index .Params "opening-title" )
    ( index .Params "opening-copy" )
  }}
    <section class="opening" opening-theme="work">
      
      <div class="opening__content">
        
        <h2 class="opening__heading">
          {{ index .Params "opening-title" }}
        </h2>
        
        <p class="opening__copy">
          {{ index .Params "opening-copy" }}  
        </p>
        
        {{ if and 
          ( .Params.Role )
          ( index .Params "role-team" ) 
          ( index .Params "role-me" ) 
        }}
        
          <div
            class="roles grid" 
            grid-gap="32" 
            grid-desktop="3" 
            grid-tablet="3" 
            grid-mobile="1"        
          >
            <div class="roles__team">
              
              <h3>Team + Role</h3>
              <p>{{ .Params.Role }}</p>

              <div 
                class="grid" 
                grid-gap="32" 
                grid-desktop="2" 
                grid-tablet="2" 
                grid-mobile="1"
              >
              
                {{ with index .Params "role-team" }}
                  <ul>
                    {{ range . }}
                      <li>{{ . }}</li>
                    {{ end }}
                  </ul>
                {{ end }}
                  
                {{ with index .Params "role-me" }}
                  <ul>
                    {{ range . }}
                      <li>{{ . }}</li>
                    {{ end }}
                  </ul>
                {{ end }}
              
              </div>
                          
            </div>

            <div class="roles__opportunity">
              
              <h3>Challenge + Opportunity</h3>
              
              {{ with index .Params "role-opportunity" }}
                <ul>
                  {{ range . }}
                    <li>{{ . }}</li>
                  {{ end }}
                </ul>
              {{ end }}
              
            </div>

            <div class="roles__leadership">

              <h3>Leadership Highlight</h3>
              <p>{{ index .Params "role-leadership" }}</p>
              
            </div>
            
            
          </div>
        
        {{ end }}
        
      </div>
      
    </Section>
  {{ end }}

  <section class="section">
    
    <div wrapper="structure">
      
      {{ .Content }}
      
    </div>
    
  </section>

{{ end }}