{{ define "main" }}

  <section class="opening">
    
    <div class="opening__content">
      
      <h2 class="opening__heading">
        {{ .Params.Openingtitle }}
      </h2>
      
      <p class="opening__copy">
        {{ .Params.Openingcopy }}  
      </p>
      
    </div>
    
  </Section>

  <section class="section">
    
    <div wrapper="structure">
      
      <div
        class="grid" 
        grid-gap="32" 
        grid-desktop="2" 
        grid-tablet="2" 
        grid-mobile="1"
      >
            
        <div
          class="roles grid" 
          grid-gap="32" 
          grid-desktop="2" 
          grid-tablet="2" 
          grid-mobile="1"        
        >
        
          <div class="roles__header">
            <h3>Team + Role</h3>
            <p>
              {{ .Params.Role }}
            </p>
          </div>

          {{ with .Params.Team }}
            <ul>
              {{ range . }}
                <li>{{ . }}</li>
              {{ end }}
            </ul>
          {{ end }}
          
          {{ with .Params.Me }}
            <ul>
              {{ range . }}
                <li>{{ . }}</li>
              {{ end }}
            </ul>
          {{ end }}
          
        </div>
        
        <div class="roles__asset">
          <img 
            src="{{ .Params.Highlight }}" 
            class="roles__asset-img"
            height="540px" 
            width="540px" 
            aria-hidden="true"
            alt="" 
          />          
        </div>
      
      </div>
      
    </div>
    
  </section>

  <section class="section">
    
    <div wrapper="structure">
      
      {{ .Content }}
      
    </div>
    
  </section>

{{ end }}